@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --first-color: hsl(271, 76%, 53%);
  --title-color: hsl(0, 0%, 40%);
  --text-color: hsl(0, 0%, 50%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 93%);
  --border-color: hsl(0, 0%, 87%);
  --text-white: #fff;

  --body-font: "Open Sans", "Arial", sans-serif;
  --second-font: "Poppins", "Arial", sans-serif;

  --big-font-size: 3.88vw;
  --h1-font-size: 3.47vw;
  --h2-font-size: 2.22vw;
  --h3-font-size: 1.66vw;
  --large-font-size: 1.25vw;
  --normal-font-size: 1.11vw;
  --small-font-size: 1.04vw;
  --smaller-font-size: 0.97vw;
  --tiny-font-size: 0.83vw;

  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;

  --px4: 0.27vw;
  --px10: 0.70vw;
  --px15: 1.04vw;
  --px25: 1.73vw;
  --px28: 1.94vw;
  --px150: 10.41vw;
  --px1280: 88.88vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-500);
  background-color: #e3e3e3;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--weight-700);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
}

img {
  max-width: 100% ;
}


/* .site_navbar * {
  font-family: "Kumbh Sans", "Arial", sans-serif;
}

.site_navbar {
  width: 100%;
  position: fixed;
  background-color: transparent;
  top: 0;
  right: 0;
  left: 0;
  z-index: 656978;
}

.navbar_wrapper {
  width: var(--px1280);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: var(--px10) 0;
}

.site_logo {
  display: block;
  width: var(--px150);
  height: var(--px28);
}

.navbar-links_wrap {
  display: flex;
  align-items: center;
  gap: var(--px25);
}

.navbar_link {
  text-decoration: none;
  cursor: pointer;
  color: #4a556c;
  font-size: var(--px15);
  font-weight: 400;
  line-height: var(--px25);
  letter-spacing: -0.3px;
}

.link_active {
  font-weight: 500;
  color: #20ad96;
} */